<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="/static/css/bootstrap.min.css" /> -->
    <link rel="stylesheet" href="/static/css/styles_legacy.css" />
    <script defer src="/static/js/bootstrap.min.js"></script>
    <script defer src="/static/js/js_legacy.js"></script>
  </head>
  <body>
    <!-- ventana principal -->
    <div class="ventanaPrincipal">
      <!-- Columna 1 de botones configuracion iniciar sesión -->
      <div class="columna1">
        <div>
          <!-- Leyenda -->
          <div class="botones_laterales">
            <div>
              <p>Seleccionar</p>
            </div>
          </div>
          <!-- Botones -->
          <div>
            <!-- Boton 1 -->
            <div class="btn-menus">
              <div>
                <img
                  src="https://bunbury-blue-tongue-ngra.2.us-1.fl0.io/static/icons/icon-user.png"
                  alt="icon user"
                />
              </div>
              <div><span>Iniciar sesión</span></div>
            </div>
            <!-- Boton 2 -->
            <div class="btn-menus">
              <div>
                <img
                  src="https://bunbury-blue-tongue-ngra.2.us-1.fl0.io/static/icons/icon-user.png"
                  alt="icon user"
                />
              </div>
              <div><span>Iniciar sesión</span></div>
            </div>
            <!-- Boton 3 -->
            <div class="btn-menus">
              <div>
                <img
                  src="https://bunbury-blue-tongue-ngra.2.us-1.fl0.io/static/icons/icon-user.png"
                  alt="icon user"
                />
              </div>
              <div><span>Iniciar sesión</span></div>
            </div>
          </div>
        </div>
        <div>
          <!-- Boton cancelar -->
          <div class="btn-menus">
            <div>
              <img
                src="https://bunbury-blue-tongue-ngra.2.us-1.fl0.io/static/icons/icon-user.png"
                alt="icon user"
              />
            </div>
            <div><span>Iniciar sesión</span></div>
          </div>
          <!-- Boton entrada -->
          <div class="btn-menus control">
            <div>
              <img src="../static/icons/truck-right.png" alt="icon user" />
            </div>
            <div><span>Iniciar sesión</span></div>
          </div>
        </div>
      </div>
      <!-- Columna 2 de datos -->
      <div class="columna2">
        <div>
          <!-- Peso de la bascula -->
          <div class="peso_bascula" id="update-weight">
            4000
            <span>kg</span>
          </div>
        </div>
        <!-- Datos del cliente -->
        <div>
          <form action="" method="post">
            <div class="datos_clientes">
              <div>
                <div class="wrapper">
                  <div class="input-data">
                    <input type="text" required />
                    <div class="underline"></div>
                    <label>Cedula</label>
                  </div>
                </div>
              </div>
              <div>
                <div class="wrapper">
                  <div class="input-data">
                    <input type="text" required />
                    <div class="underline"></div>
                    <label>Placa</label>
                  </div>
                </div>
              </div>
              <div>
                <div class="wrapper">
                  <div class="input-data">
                    <input type="text" required />
                    <div class="underline"></div>
                    <label>Placa</label>
                  </div>
                </div>
              </div>
              <div>
                <div class="wrapper">
                  <div class="input-data">
                    <input type="text" required />
                    <div class="underline"></div>
                    <label>Placa</label>
                  </div>
                </div>
              </div>
              <div>
                <div class="wrapper">
                  <div class="input-data">
                    <input type="text" required />
                    <div class="underline"></div>
                    <label>Placa</label>
                  </div>
                </div>
              </div>
              <div>
                <div class="wrapper">
                  <div class="input-data">
                    <input type="text" required />
                    <div class="underline"></div>
                    <label>Placa</label>
                  </div>
                </div>
              </div>
              <div>
                <div class="wrapper">
                  <div class="input-data">
                    <input type="text" required />
                    <div class="underline"></div>
                    <label>Cabezote</label>
                  </div>
                </div>
              </div>
              <div>
                <div class="wrapper">
                  <div class="input-data">
                    <input type="text" required />
                    <div class="underline"></div>
                    <label>Cabezote</label>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- Error de peso -->
        <div>
          <div class="error_peso">
            <div>
              <div>Error:</div>
            </div>
            <div><span>12 kg</span></div>
          </div>
        </div>
        <!-- Espacio para la tabla de vehiculos en transito -->
        <div>
          <table id="enTransito" class="table table-striped bg-white">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                <th scope="col">Handle</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr id="elemento">
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr id="elemento">
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr id="elemento">
                <th scope="row">3</th>
                <td>Larry the Bird</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Columna 3 de botones configuracion iniciar sesión -->
      <div class="columna3">
        <div>
          <!-- Leyenda -->
          <div class="botones_laterales">
            <div>
              <p>Seleccionar</p>
            </div>
          </div>
          <!-- Botones -->
          <div>
            <!-- Boton 1 -->
            <div class="btn-menus">
              <div>
                <img
                  src="https://bunbury-blue-tongue-ngra.2.us-1.fl0.io/static/icons/icon-user.png"
                  alt="icon user"
                />
              </div>
              <div><span>Iniciar sesión</span></div>
            </div>
            <!-- Boton 2 -->
            <div class="btn-menus">
              <div>
                <img
                  src="https://bunbury-blue-tongue-ngra.2.us-1.fl0.io/static/icons/icon-user.png"
                  alt="icon user"
                />
              </div>
              <div><span>Iniciar sesión</span></div>
            </div>
            <!-- Boton 3 -->
            <div class="btn-menus">
              <div>
                <img
                  src="https://bunbury-blue-tongue-ngra.2.us-1.fl0.io/static/icons/icon-user.png"
                  alt="icon user"
                />
              </div>
              <div><span>Iniciar sesión</span></div>
            </div>
          </div>
        </div>
        <div>
          <!-- Boton cancelar -->
          <div class="btn-menus">
            <div>
              <img
                src="https://bunbury-blue-tongue-ngra.2.us-1.fl0.io/static/icons/icon-user.png"
                alt="icon user"
              />
            </div>
            <div><span>Iniciar sesión</span></div>
          </div>
          <!-- Boton entrada -->
          <div class="btn-menus control">
            <div>
              <img src="../static/icons/truck-left.png" alt="icon user" />
            </div>
            <div><span>Iniciar sesión</span></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
