<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="/static/css/bootstrap.min.css" /> -->
    <link rel="stylesheet" href="/static/css/styles_legacy.css" />
    <script defer src="/static/js/bootstrap.min.js"></script>
    <script defer src="/static/js/js_legacy.js"></script>
  </head>
  <body>
    <!-- ventana principal -->
    <div class="ventanaPrincipal">
      <!-- Columna 1 de botones configuracion iniciar sesión -->
      <div class="columna1">
        <div>
          <!-- Leyenda -->
          <div class="botones_laterales">
            <div>
              <p>Seleccionar</p>
            </div>
          </div>
          <!-- Botones -->
          <div>
            <!-- Boton 1 -->
            <div class="btn-menus" id="btnIniciarSesion">
              <div>
                <img src="../static/icons/login.png" alt="icon user" />
              </div>
              <div><span>Iniciar sesión</span></div>
            </div>
            <!-- Boton 2 -->
            <div class="btn-menus" id="btnConfiguracion">
              <div>
                <img src="../static/icons/settings.png" alt="icon user" />
              </div>
              <div><span>Configuración</span></div>
            </div>
            <!-- Boton 3 -->
            <div class="btn-menus">
              <div>
                <img src="../static/icons/printer.png" alt="icon user" />
              </div>
              <div><span>Impresion de tiquetes</span></div>
            </div>
          </div>
        </div>
        <div>
          <!-- Boton cancelar -->
          <div class="btn-menus">
            <div>
              <img src="../static/icons/clean.png" alt="icon user" />
            </div>
            <div><span>Limpiar</span></div>
          </div>
          <!-- Boton entrada -->
          <div class="btn-menus control">
            <div>
              <img src="../static/icons/truck-right.png" alt="icon user" />
            </div>
            <div><span>Entrada</span></div>
          </div>
        </div>
      </div>
      <!-- Columna 2 de datos -->
      <div class="columna2">
        <div>
          <!-- Peso de la bascula -->
          <div class="peso_bascula" id="update-weight">
            4000
            <span>kg</span>
          </div>
        </div>
        <!-- Datos del cliente -->
        <div>
          <form action="" method="post">
            <div class="datos_clientes">
              <div>
                <div class="wrapper">
                  <div class="input-data">
                    <input type="text" required />
                    <div class="underline"></div>
                    <label>Cedula</label>
                  </div>
                </div>
              </div>
              <div>
                <div class="wrapper">
                  <div class="input-data">
                    <input type="text" required />
                    <div class="underline"></div>
                    <label>Placa</label>
                  </div>
                </div>
              </div>
              <div>
                <div class="wrapper">
                  <div class="input-data">
                    <input type="text" required />
                    <div class="underline"></div>
                    <label>Placa</label>
                  </div>
                </div>
              </div>
              <div>
                <div class="wrapper">
                  <div class="input-data">
                    <input type="text" required />
                    <div class="underline"></div>
                    <label>Placa</label>
                  </div>
                </div>
              </div>
              <div>
                <div class="wrapper">
                  <div class="input-data">
                    <input type="text" required />
                    <div class="underline"></div>
                    <label>Placa</label>
                  </div>
                </div>
              </div>
              <div>
                <div class="wrapper">
                  <div class="input-data">
                    <input type="text" required />
                    <div class="underline"></div>
                    <label>Placa</label>
                  </div>
                </div>
              </div>
              <div>
                <div class="wrapper">
                  <div class="input-data">
                    <input type="text" required />
                    <div class="underline"></div>
                    <label>Cabezote</label>
                  </div>
                </div>
              </div>
              <div>
                <div class="wrapper">
                  <div class="input-data">
                    <input type="text" required />
                    <div class="underline"></div>
                    <label>Cabezote</label>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- Error de peso -->
        <div>
          <div class="error_peso">
            <div>
              <div>Error:</div>
            </div>
            <div><span>12 kg</span></div>
          </div>
        </div>
        <!-- Espacio para la tabla de vehiculos en transito -->
        <div>
          <table id="enTransito" class="tabla-transito">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Placa</th>
                <th scope="col">Nombres</th>
                <th scope="col">Cabezote</th>
                <th scope="col">Material</th>
                <th scope="col">Peso</th>
              </tr>
            </thead>
            <tbody>
              <tr id="elemento">
                <th scope="row">1</th>
                <td>CBD-345</td>
                <td>Juan Briceño</td>
                <td>KJET-12</td>
                <td>Grava ligera</td>
                <td>4500</td>
              </tr>
              <tr id="elemento">
                <th scope="row">2</th>
                <td>XYZ-789</td>
                <td>Maria Pérez</td>
                <td>ABCD-34</td>
                <td>Arena fina</td>
                <td>3200</td>
              </tr>
              <tr id="elemento">
                <th scope="row">3</th>
                <td>LMN-123</td>
                <td>Luis González</td>
                <td>EFGH-56</td>
                <td>Cemento</td>
                <td>5800</td>
              </tr>
              <tr id="elemento">
                <th scope="row">4</th>
                <td>PQR-567</td>
                <td>Ana Sánchez</td>
                <td>IJKL-78</td>
                <td>Piedra triturada</td>
                <td>6900</td>
              </tr>
              <tr id="elemento">
                <th scope="row">5</th>
                <td>RST-890</td>
                <td>Carlos Rodríguez</td>
                <td>MNOP-90</td>
                <td>Asfalto</td>
                <td>3900</td>
              </tr>
              <tr id="elemento">
                <th scope="row">6</th>
                <td>UVW-234</td>
                <td>Marta López</td>
                <td>QRST-12</td>
                <td>Concreto</td>
                <td>7500</td>
              </tr>
              <tr id="elemento">
                <th scope="row">7</th>
                <td>XYZ-567</td>
                <td>Ricardo González</td>
                <td>ABCD-34</td>
                <td>Arena fina</td>
                <td>3200</td>
              </tr>
              <tr id="elemento">
                <th scope="row">8</th>
                <td>PQR-123</td>
                <td>Elena Martínez</td>
                <td>IJKL-78</td>
                <td>Piedra triturada</td>
                <td>6900</td>
              </tr>
              <tr id="elemento">
                <th scope="row">9</th>
                <td>RST-890</td>
                <td>Fernando López</td>
                <td>MNOP-90</td>
                <td>Asfalto</td>
                <td>3900</td>
              </tr>
              <tr id="elemento">
                <th scope="row">10</th>
                <td>UVW-234</td>
                <td>Laura Rodríguez</td>
                <td>QRST-12</td>
                <td>Concreto</td>
                <td>7500</td>
              </tr>
              <!-- Puedes ajustar los valores de estas filas como desees -->
            </tbody>
          </table>
        </div>
      </div>
      <!-- Columna 3 de botones configuracion iniciar sesión -->
      <div class="columna3">
        <div>
          <!-- Leyenda -->
          <div class="botones_laterales">
            <div>
              <p>Seleccionar</p>
            </div>
          </div>
          <!-- Botones -->
          <div>
            <!-- Boton 1 -->
            <div class="btn-menus">
              <div>
                <img src="../static/icons/reports.png" alt="icon user" />
              </div>
              <div><span>Reportes</span></div>
            </div>
            <!-- Boton 2 -->
            <div class="btn-menus">
              <div>
                <img src="../static/icons/menu.png" alt="icon user" />
              </div>
              <div><span>Otro menu</span></div>
            </div>
            <!-- Boton 3 -->
            <div class="btn-menus">
              <div>
                <img src="../static/icons/camera.png" alt="icon user" />
              </div>
              <div><span>Cámara LPR</span></div>
            </div>
          </div>
        </div>
        <div>
          <!-- Boton cancelar -->
          <div class="btn-menus">
            <div>
              <img src="../static/icons/clean.png" alt="icon user" />
            </div>
            <div><span>Limpiar</span></div>
          </div>
          <!-- Boton entrada -->
          <div class="btn-menus control">
            <div>
              <img src="../static/icons/truck-left.png" alt="icon user" />
            </div>
            <div><span>Salida</span></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
